extends ../layout/index

block contenido
  div.py-10 
    h1.text-4xl.my-10.font-extrabold.text-center.text-cyan-300  Bienes
      span.font-normal Raices
    h2.text-center.text-2xl.font-extrabold.text-sky-400 Recupera tu Contraseña
    
    if errores
      div.mx-auto.my-10.max-w-md
        each error in errores
          div.alert(
            class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 border border-blue-300 dark:bg-gray-800 dark:text-blue-400 dark:border-gray-600" 
            role="alert"
          )
            svg(
              class="flex-shrink-0 inline w-5 h-5 mr-3" 
              aria-hidden="true" 
              xmlns="http://www.w3.org/2000/svg" 
              fill="currentColor" 
              viewBox="0 0 20 20"
            )
              path(d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 1 1 1 1v4h1a1 1 0 0 1 0 2Z")
            div
              span.font-medium ¡Error!: 
              | #{error.msg}

  .mt-8.mx-auto.max-w-md
    .bg-white.py-8.px-4.shadow
      form(method="POST" action="/auth/passwordRecovery" noValidate).space-y-5.px-6
        input(type="hidden" name="_csrf" value=csrfToken)
        
        div 
          label.block.text-sm.uppercase.text-gray-300.mb-2.font-bold(for="email") Correo Electrónico
          input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email @.com" type="email" name="email")
        
        .flex.items-center.justify-between 
          a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline hover:decoration-2 hover:text-cyan-500") ¿Aún no tienes cuenta? Regístrate 
          a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration-2 hover:text-cyan-500") ¿Ya tienes cuenta? Entra a la plataforma...
        
        input(class="w-full bg-rosa hover:bg-cyan-500 text-white font-bold py-3 cursor-pointer" type="submit" value="Recuperar Contraseña")
		
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const alerts = document.querySelectorAll('.alert');
      setTimeout(() => {
        alerts.forEach(alert => alert.remove());
      }, 2000);
    });